.game-paddle {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.player-one-paddle {
  background-color: lightblue;
}

.player-two-paddle {
  background-color: lightcoral; 
}